openapi: 3.1.0
info:
  title: Mes Aides API
  description: |
    API de simulation d'éligibilité aux aides sociales françaises.
    
    **Privacy-first**: aucune donnée personnelle n'est stockée. Les calculs sont effectués
    en mémoire et les résultats ne sont jamais conservés.
    
    **Rate limits**: 100 req/min par IP (soft limit, ajustable).
  version: 1.0.0
  contact:
    name: Macaron Software
    url: https://aides.macaron-software.com
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html

servers:
  - url: https://api.aides.macaron-software.com
    description: Production
  - url: http://localhost:3001
    description: Local development

tags:
  - name: Health
    description: Health check endpoints
  - name: Simulation
    description: Aid eligibility simulation
  - name: Catalog
    description: Aid catalog queries
  - name: Data
    description: Barèmes and reference data
  - name: Export
    description: Export results

paths:
  /api/health:
    get:
      tags: [Health]
      summary: Health check
      operationId: health
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /api/simulate:
    post:
      tags: [Simulation]
      summary: Simulate aid eligibility
      description: |
        Calculate eligibility for all French social aids based on the provided situation.
        
        **Privacy**: No data is logged or stored. Calculation is performed in-memory
        and results are returned immediately.
      operationId: simulate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Situation'
            examples:
              single_person:
                summary: Single person, low income
                value:
                  age: 35
                  revenus_mensuels: 800
                  composition_familiale: seul
                  logement:
                    type_logement: locataire
                    loyer_mensuel: 600
                    zone_apl: zone2
                  departement: "75"
              family:
                summary: Family with children
                value:
                  age: 42
                  revenus_mensuels: 1500
                  composition_familiale: couple
                  nombre_enfants: 2
                  ages_enfants: [8, 12]
                  logement:
                    type_logement: locataire
                    loyer_mensuel: 900
                    zone_apl: zone2
                  departement: "69"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulationResult'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/aides:
    get:
      tags: [Catalog]
      summary: List all aids
      description: Returns the complete catalog of 71 French social aids with metadata.
      operationId: listAides
      responses:
        '200':
          description: List of aids
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AideSummary'

  /api/datagouv/baremes:
    get:
      tags: [Data]
      summary: Get current barèmes
      description: |
        Returns current social aid thresholds (barèmes) from data.gouv.fr.
        Results are cached for 24h. Falls back to embedded 2026 values if data.gouv.fr
        is unavailable.
      operationId: getBaremes
      responses:
        '200':
          description: Current barèmes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaremesResponse'

  /api/pdf:
    post:
      tags: [Export]
      summary: Generate PDF report
      description: |
        Generate a PDF report of the simulation result.
        The PDF includes:
        - Total estimated monthly amount
        - List of eligible aids with amounts
        - Brief explanation for each aid
        - Disclaimer about official verification
      operationId: generatePdf
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Situation'
      responses:
        '200':
          description: PDF document
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '500':
          description: PDF generation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    HealthResponse:
      type: object
      required: [status, version, baremes]
      properties:
        status:
          type: string
          example: "ok"
        version:
          type: string
          example: "0.1.0"
        baremes:
          type: string
          example: "2026-01"

    Situation:
      type: object
      required: [age, revenus_mensuels, composition_familiale]
      properties:
        age:
          type: integer
          minimum: 0
          maximum: 120
          example: 35
        revenus_mensuels:
          type: number
          minimum: 0
          description: Net monthly income in EUR
          example: 1200
        composition_familiale:
          type: string
          enum: [seul, couple, monoparental]
          example: "seul"
        nombre_enfants:
          type: integer
          minimum: 0
          maximum: 20
          default: 0
        ages_enfants:
          type: array
          items:
            type: integer
          description: Ages of children
          example: [5, 10]
        logement:
          $ref: '#/components/schemas/Logement'
        handicap_taux:
          type: integer
          minimum: 0
          maximum: 100
          description: Disability rate (%)
        demandeur_emploi:
          type: boolean
          default: false
        etudiant:
          type: boolean
          default: false
        retraite:
          type: boolean
          default: false
        departement:
          type: string
          pattern: '^[0-9AB]{2,3}$'
          description: French department code (01-95, 2A, 2B, 971-976)
          example: "75"
        ressortissant_ue:
          type: boolean
          default: true
        residence_france_5ans:
          type: boolean
          default: true

    Logement:
      type: object
      properties:
        type_logement:
          type: string
          enum: [locataire, proprietaire, heberge, sans_domicile]
          example: "locataire"
        loyer_mensuel:
          type: number
          minimum: 0
          description: Monthly rent in EUR
          example: 600
        zone_apl:
          type: string
          enum: [zone1, zone2, zone3]
          description: APL zone (1=Paris, 2=grandes villes, 3=autres)
          example: "zone2"
        surface_m2:
          type: number
          minimum: 1
        nombre_pieces:
          type: integer
          minimum: 1
        meuble:
          type: boolean
          default: false

    SimulationResult:
      type: object
      required: [aides_eligibles, total_mensuel]
      properties:
        aides_eligibles:
          type: array
          items:
            $ref: '#/components/schemas/AideEligible'
        aides_non_eligibles:
          type: array
          items:
            $ref: '#/components/schemas/AideNonEligible'
        total_mensuel:
          type: number
          description: Total estimated monthly amount in EUR
          example: 850.00

    AideEligible:
      type: object
      required: [aide_id, raisons]
      properties:
        aide_id:
          type: string
          example: "rsa"
        nom:
          type: string
          example: "Revenu de Solidarité Active"
        montant_mensuel:
          type: number
          nullable: true
          description: Estimated monthly amount (null if variable)
          example: 635.71
        periodicite:
          type: string
          example: "mensuel"
        raisons:
          type: array
          items:
            type: string
          description: Reasons for eligibility
          example: ["Revenus < plafond RSA", "Résidence en France"]
        url_demande:
          type: string
          format: uri
          example: "https://www.caf.fr/allocataires/mes-demarches/demander-le-rsa"

    AideNonEligible:
      type: object
      required: [aide_id, raison]
      properties:
        aide_id:
          type: string
        raison:
          type: string
          description: Reason for non-eligibility

    AideSummary:
      type: object
      required: [id, slug, nom, categorie, organisme]
      properties:
        id:
          type: string
          example: "rsa"
        slug:
          type: string
          example: "rsa"
        nom:
          type: string
          example: "Revenu de Solidarité Active"
        description:
          type: string
        categorie:
          type: string
          enum: [minima_sociaux, logement, handicap, famille, sante, emploi, energie, jeunes]
        montant_min:
          type: number
          nullable: true
        montant_max:
          type: number
          nullable: true
        periodicite:
          type: string
          example: "mensuel"
        organisme:
          type: string
          example: "CAF"
        url_info:
          type: string
          format: uri

    BaremesResponse:
      type: object
      required: [source, baremes]
      properties:
        source:
          type: string
          enum: [cache, datagouv-mcp, embedded-2026]
        baremes:
          $ref: '#/components/schemas/Baremes'

    Baremes:
      type: object
      properties:
        version:
          type: string
          example: "2026-01"
        source:
          type: string
        rsa_base:
          type: number
          example: 646.52
        rsa_couple:
          type: number
          example: 969.78
        aah_montant_max:
          type: number
          example: 1033.32
        prime_activite_forfait:
          type: number
          example: 633.21
        smic_net_mensuel:
          type: number
          example: 1398.69
        aspa_seul:
          type: number
          example: 1043.59
        aspa_couple:
          type: number
          example: 1620.18
        updated_at:
          type: string
          format: date

    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
        details:
          type: string

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        Optional API key for higher rate limits.
        Default limit without key: 100 req/min.
        With key: 1000 req/min.

# Note: Security is optional - public endpoints work without auth
security: []
